* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
a {
  color: #909090;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 900px;
  padding: 20px;
  margin: 0 auto;
}

.container h1 {
  font-size: 3em;
}

.container h2 {
  text-transform: uppercase;
  font-weight: 200;
  color: #c3c3c3;
  border-bottom: 1px solid #c3c3c3;
  font-size: .9em;
}

.info {
  display: flex;
  height: 30vh;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.info .photo {
  height: 150px;
  width: 150px;
}

.info .bio {
  padding: 20px;
  text-align: center;
}

.photo img {
  max-width: 100%;
  border-radius: 50%;
}

.bio h3 {
  font-size: 3em;
}

.bio p {
  font-size: .8em;
}

.work-experience {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.work-experience .work {
  padding-bottom: 20px;
  padding-left: 20px;
  margin-bottom: 20px;
}

.work .title {
  font-size: 1.7em;
  line-height: 2em;
}
.work .period {
  font-size: .8em;
  text-transform: uppercase;
  padding-bottom: 10px;
}
.period small {
  background-color: black;
  color: white;
  border-radius: 2px;
  padding: 3px;
}

.work .description {
  text-align: left;
}

.work .sub-description {
  font-size: 0.9em;
  padding: 20px 0;
  color: #909090;
}

.sub-description:before {
  content: open-quote;
}

.sub-description:after {
  content: close-quote;
}

.description li {
  font-size: 1.1em;
  margin-bottom: 2px;
  line-height: 1.5em;
}

.education {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  padding-bottom: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.technical-curses {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.technical-curses .course {
  padding: 20px 0;
}

.course ul {
  display: flex;
  justify-content: center;
}

.course ul li {
  margin: 5px;
  padding: 5px;
  background-color: #000;
  color: white;
  border-radius: 5px;
}

.skills {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 20px;
}

.skill h3 {
  font-size: 1.1em;
  font-weight: 500;
  margin-bottom: 5px;
}

.important-projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.project {
  padding: 20px 0;
}
